In [4]:
import sqlite3

db_path="../../data/ais.db"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
cursor.execute("""
    CREATE TABLE ais (
        mmsi INTEGER,
        timestamp TEXT,
        latitude REAL,
        longitude REAL,
        sog REAL,
        cog REAL,
        heading REAL,
        vessel_name TEXT,
        imo TEXT,
        callsign TEXT,
        vessel_tyle INTEGER,
        status INTEGER,
        length REAL,
        width REAL,
        draft REAL,
        cargo INTEGER,
        tranceiver_class TEXT,
        image_path TEXT,
        PRIMARY KEY (mmsi, timestamp)
    );
""")
conn.commit()
conn.close()

In [5]:
import pandas as pd

conn = sqlite3.connect(db_path)
test = pd.read_sql_query("SELECT * FROM ais", conn)

conn.close()
test

Empty DataFrame
Columns: [mmsi, timestamp, latitude, longitude, sog, cog, heading, vessel_name, imo, callsign, vessel_tyle, status, length, width, draft, cargo, tranceiver_class, image_path]
Index: []